{% load bootstrap4 %}
{% load widget_tweaks %}
<html>
    <head>
        {% bootstrap_css %}
    </head>
    <body>
        <header>
            <!--navbar-->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbr-brand" href="#">Libros</a>


                <!--boton de alternancia-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <!--contenido del menu colapsable-->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <!--lista de elementos del menu-->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'formulario' %}">Formulario</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% bootstrap_javascript %}
    </body>
</html>
